<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>Description Task Instructions</title>
    <script src="/static/scripts/qualifier.js">Function()</script>
    <script type="text/javascript">
        window.hitType = 'description';
    </script>
</head>
<body>
<h1>Getting started with Image Landmark Description</h1>
<h2>It looks like this is your first time doing this type of HIT.</h2>
<h2>We have some quick instructions and examples for you. Don't worry, you won't see this on your next HIT.
    This will only take a minute.</h2>

<div class="slide">
    <span>(1/3): The basics</span>
    <ul>
        <li>
            Your task is to describe the landmark or object outlined in an image.
            This description will be used to give someone driving directions, such as
            <strong>"turn left at the __________"</strong>. We need your help to fill in the blank!
        </li>
        <li>
            <strong>Your description should be specific, but doesn't need to be long or be a full sentence.</strong>
        </li>
        <li>
            For example, given the image below it would be fine to say <strong>"two-story red house"</strong>.
            There's no need to say something longer like "this is a picture of a two-story red house".
        </li>
    </ul>
    <img src="https://drfpa4gcv2ewx.cloudfront.net/redhouse.png" />
    <br />
</div>

<div class="slide">
    <span>(2/3): How to write a good description</span>
    <h3> TL;DR: describe the thing in the box that is the MOST DISTINCT (but not a car) </h3>
    <ul>
        <li>
            Don't write in full sentences.
            Just write what you'd use to fill in the blank in the phrase "inside the red box is a ________"
        </li>
        <li>
            Be specific: try to describe exactly what the object is.
            Don't be afraid to use adjectives, or include the name of the business or restaurant if you can recognize it!
            For example instead of writing "building", a good description might say "three story brick building".
            Or, instead of just "gas station", you might write "Chevron station".
        </li>
        <li>
            Try to describe only objects that are <strong>Permanent</strong>--not something that can move or change, such as cars, people, bikes.
            If the box contains a permanent feature, like a house, restaurant, sign or stop light, describe that.
            <strong>Don't describe trees (unless there is LITERALLY nothing else)!</strong>
        </li>
        <li>
            If the box contains more than one thing, choose ONE thing to describe.
            For example, don't say that "red house and blue house". Just pick one.
        </li>
    </ul>
    <br />
</div>

<div class="slide">
    <span>(3/3): Some Good Examples</span>
    <table>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/good_desc1.png" />
            </td>
            <td>
                <strong>"yellow house"</strong>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/good_desc7.png" />
            </td>
            <td>
                <strong>"white two-story house with grey roof"</strong>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/good_desc2.png" />
            </td>
            <td>
                <strong>"stop sign"</strong>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/good_desc3.png" />
            </td>
            <td>
                <strong>"McDonald's restaurant"</strong>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/good_desc4.png" />
            </td>
            <td>
                <strong>"Brown stone church"</strong>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/good_desc5.png" />
            </td>
            <td>
                <strong>"Yellow crosswalk sign"</strong>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/good_desc6.png" />
            </td>
            <td>
                <strong>"Brick building with white stripes"</strong>
            </td>
        </tr>
    </table>
</div>

<button class="button blue nextButton">
    Next
</button>
</body>
</html>