<html>
<head>
    <title>Object Sampling</title>
    <link rel="stylesheet" type="text/css" href="/static/css/imgareaselect-default.css"/>
    <script src="/static/scripts/vendor/jquery.imgareaselect.pack.js">Function()</script>
    <script src="/static/scripts/findObject.js">Function()</script>
    <!-- <script async="true" defer="true" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXyMat0qa3WpiXmjsm7k3x21IGHQlrkv8&amp;callback=initMap">Function()</script> -->
    <script type="text/javascript">
        window.previewMode = '{{assignmentId}}' === 'ASSIGNMENT_ID_NOT_AVAILABLE';
    </script>
</head>

<body>
<div id="top">
    <!-- Unescaped HTMl via triple brackets -->
    {{{instruction}}}
    <br/>
    <br/>
    <form class="turkForm" action="{{submitURL}}" method="POST">
        <input type="hidden" name="assignmentId" value="{{assignmentId}}"/>
        <input type="hidden" name="x1_at" value="0"/>
        <input type="hidden" name="x2_at" value="0"/>
        <input type="hidden" name="y1_at" value="0"/>
        <input type="hidden" name="y2_at" value="0"/>
        <input type="hidden" name="x1_justBefore" value="0"/>
        <input type="hidden" name="x2_justBefore" value="0"/>
        <input type="hidden" name="y1_justBefore" value="0"/>
        <input type="hidden" name="y2_justBefore" value="0"/>
        <input type="hidden" name="x1_before" value="0"/>
        <input type="hidden" name="x2_before" value="0"/>
        <input type="hidden" name="y1_before" value="0"/>
        <input type="hidden" name="y2_before" value="0"/>
        <input type="submit" id="submitBtn" class="button blue" disabled="disabled" value="Draw a box in each image to submit"/>
    </form>
</div>

<div id="images">
    {{#streetviewImgURLAt}}
        <img id="streetViewAt" src="{{streetviewImgURLAt}}"/>
    {{/streetviewImgURLAt}}

    {{#streetviewImgURLJustBefore}}
        <img id="streetViewJustBefore" src="{{streetviewImgURLJustBefore}}"/>
    {{/streetviewImgURLJustBefore}}

    {{#streetviewImgURLBefore}}
        <img id="streetViewBefore" src="{{streetviewImgURLBefore}}"/>
    {{/streetviewImgURLBefore}}
</div>
<div class="clear"></div>

</body>
</html>