<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>Saliency Task Instructions</title>
    <script src="/static/scripts/qualifier.js">Function()</script>
    <script type="text/javascript">
        window.hitType = 'saliency';
    </script>
</head>
<body>
<h1>Getting started with Image Landmark Selection</h1>
<h2>It looks like this is your first time doing this type of HIT.</h2>
<h2>We have some quick instructions and examples for you. Don't worry, you won't see this on your next HIT.
    This will only take a minute.</h2>

<div class="slide">
    <span>(1/4): The basics</span>
    <ul>
        <li>
            Your task is to find what you think is the best landmark in 3 images of a street intersection.
        </li>
        <li>
            If you were giving someone driving directions and wanted them to turn at this intersection,
            what thing in the image would you use to describe where to turn?
        </li>
        <li>
            <strong>You don't have to choose the same thing in each image</strong>
        </li>
        <li>
            <strong>We'll give you some advice on what makes a good landmark, but there's no correct answer...we want your opinion!</strong>
        </li>
    </ul>
    <img src="https://drfpa4gcv2ewx.cloudfront.net/intro.png" />
    <br />
</div>

<div class="slide">
    <span>(2/4): What makes a good landmark?</span>
    <h3 class="good">A good landmark IS:</h3>
    <ul>
        <li>
            The thing in the image that is the most
            <strong>obvious, easiest to see, most recognizable, most unique and different from everything else.</strong>
        </li>
        <li>
            It <strong>stands out</strong> from the other things in the image.
        </li>
        <li>
            <strong>Permanent</strong>--not something that can move or change, such as cars, people, bikes.
        </li>
    </ul>
    <h3 class="bad">A good landmark IS NOT:</h3>
    <ul>
        <li>
            A person, vehicle, or anything else that can move or is not permanent.
        </li>
        <li>
            Something that isn't unique--trees aren't good landmarks, for example.
        </li>
        <li>
            Difficult to see.
        </li>
    </ul>
    <br />
</div>

<div class="slide">
    <span>(3/4): Some Good Examples</span>
    <table>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/good1.png" />
            </td>
            <td>
                <strong>Buildings:</strong> (It's OK if they're covered by trees or not totally in the image!)
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/good2.png" />
            </td>
            <td>
                <strong>Signs and crosswalks</strong>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/good3.png" />
            </td>
            <td>
                <strong>Stop lights</strong>
            </td>
        </tr>
    </table>
</div>

<div class="slide">
    <span style="color: red;">(4/4): Some Bad Examples</span>
    <table>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/bad1.png" />
            </td>
            <td>
                <strong>Vehicles, people, bikes</strong>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://drfpa4gcv2ewx.cloudfront.net/bad2.png" />
            </td>
            <td>
                <strong>Trees and plants</strong>
            </td>
        </tr>
    </table>
</div>

<button class="button blue nextButton">
    Next
</button>
</body>
</html>